body{

    background-image: url(../imagenes/coffee-beans-background.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: contain;

    font-family: 'Montserrat', sans-serif;
}

.containerGastos{

    font-size: 13px;
    h1,h2{
        font-size: 25px;
    }

    box-shadow: 5px 10px 12px 1px rgb(59, 59, 59);

    h1,h2{
        font-weight: 200;
    }

    max-width: 600px;
    max-height: 1200px;
    
    margin: auto;

    background-image: linear-gradient(rgb(132, 135, 196), rgb(113, 116, 175), rgb(127, 130, 186), rgb(161, 161, 190));
    /*background-color: rgb(127, 130, 186);*/
}

body::before, body::after {

    content: '';  
    background: rgb(127, 130, 186);
    position: fixed;
    z-index: 9999999;
    height: 4px;  
}

body::before {
    
    width: 100%;
    left: 0;
    top: 0;
}

body::after {

    width: 100%;  
    bottom: 0;
    right: 0;
}